.jsmContainer{
    width: 400px;
    margin: 0 auto;
    padding-top: 30px;
}

.jsmContainer-inputContainer{
    display: block;
}

.jsmContainer-inputContainer__label{
    width: 100%;
}

.jsmContainer-button{
    margin-left: 10px;
    border-radius: .25rem;
    align-self: stretch;
}

.jsmContainer-row{
    display: flex;
    align-items: center;
    width: inherit;
    justify-content: space-between;
}

.form-group{
    margin-bottom: 0;
}

.jsmContainer-row > form{
    width: 100%;
}

.jsm-Container-instructions{
    text-align: center;
    margin: 15px auto;
    max-width: 425px;
}

.jsmContainer-overall{

}

@media (min-width: 768px){
    .jsmContainer{
        max-width: 900px;
        width: calc(60vw + 22vh);
        margin: 0 auto;
    }

    .jsmContainer > li > a {
        font-size: clamp(10px ,1vw + 0.5vh, 20px);
    }

    .jsmContainer-row{
        width: 100%;
    }

    .jsmContainer-inputContainer__label{
        width: auto;
    }

    .jsmContainer-inputContainer{
        display: flex;
    }

    .jsmContainer-button{
        align-self: center;
    }
    
    li.nav-item{
        cursor: pointer;
    }
}