.jsmContainer{
    width: 400px;
    margin: 0 auto;
    padding-top: 30px;
}

.jsmContainer-inputContainer{
    display: flex;
}
.jsmContainer-inputContainer__label{
    width: 100%;
}

.jsmContainer-button{
    margin-left: 10px;
    border-radius: .25rem;
}

.jsmContainer-row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.form-group{
    margin-bottom: 0;
}

.jsmContainer-row > form{
    width: 100%;
}