body {
  background-image: url("https://res.cloudinary.com/doaftkgbv/image/upload/v1587658644/so-white_bpmwjw.png");
    height: 100vh;
}

.contact-card {
  margin: 3% auto;
  display: block;
  position: relative;
  z-index: 1;
  justify-content: space-around;
  flex-shrink: 1em;
  text-align: left;
  padding: auto;
  width: 90%;
  border-width: 3px;
  border-color: #41B3A3;
  -webkit-box-shadow: 0px 5px 10px  #41B3A3;
  -moz-box-shadow: 0px 5px 10px  #41B3A3;
  box-shadow: 0px 0px 36px -9px #41B3A3;
  z-index: 1;
}


.sub-button {
    color: #41B3A3;
    border-color: #41B3A3;
    width: 50%;
    border-width: 2px;
    margin: 3% auto;
    display: block;
    -webkit-box-shadow: 0px 5px 10px  rgb(71,71,71);
  -moz-box-shadow: 0px 5px 10px  rgb(71,71,71);
  box-shadow: 0px 5px 10px  rgb(71,71,71);
} 

h1 {
  text-align: center;
  border-width: 0 0 1px 0;
  color: grey;
  padding-top: 30px;
  margin-bottom: 30px;
}

.card-title {
  font-weight: bold;
}

.contact-name {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #C38D9E;
    font-size: 20px;
    font-family: 'Rammetto One', cursive;
}

.contact-form > .form-row:nth-of-type(1) >.col:nth-of-type(1), .contact-form > .form-row:nth-of-type(3) >.col:nth-of-type(1){
  padding-right: 0;
}

.contact-form > .form-row:nth-of-type(1) >.col:nth-of-type(2), .contact-form > .form-row:nth-of-type(3) >.col:nth-of-type(2){
  padding-left: 0;
}

.contact-form > .form-row:nth-of-type(2){
  padding: 1% 0 1% 0;
}

.contact-form > .sub-button {
  font-weight: bold;
  display: block;
  width: 150px;
  color: #8aa19e;
  border-color: #8aa19e;
  margin: 1% auto;
}

.sub-button:hover {
  box-shadow: inset 0px 0px 36px -9px #41B3A3;
}

.far {
  display: flex;
  flex-direction: row-reverse;
}

p > span {
  font-weight: bold;
}

.container > .row > .contact-card > .card-header {
  color: #c38d9e;
  font-size: 20px;
  font-family: 'Rammetto One', cursive;
}

.container > .row > .contact-card > .card-body > p:nth-of-type(2) > a {
  color: #8aa19e;
  text-decoration: none;
}

.contact-form > .form-row > .col > .form-control {
  position: relative;
  z-index: 1;
}

.network-chevron {
  position: relative;
  text-align: center;
  padding: 12px;
  margin-top: 10px;
  margin-bottom: 30px;
  height: 400px;
  width: 100%;
}
.network-chevron:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50.5%;
  background:  #c29ea9;
  transform: skew(0deg, 6deg);
}
.network-chevron:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background:  #c29ea9;
  transform: skew(0deg, -6deg);
}