.loginContainer{
    width: 350px;
    background-color: rgba(66, 179, 163, 0.7);
    padding: 40px 20px;
    border-radius: 15px;
}

.loginContainer-Button{
    width: 100%;
    border-radius: 40px;
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: #c38d9e;
    color: white;
    font-weight: bold;
}

.loginContainer-input{
    margin-bottom: 10px;
    border-radius: 5px;
}

.hide{
    display: none;
}

span.navbar-text{
    cursor: pointer;
}

.noAccess{
    margin-top: 40px;
    text-align: center;
}